mixin getUserProfileImg
  if currentUser && currentUser.image.data
    - const imageData = () => currentUser.image.data && currentUser.image.data.toString("base64");
    - const imageType = () => currentUser.image.data && currentUser.image.fileType;
    - const imageName = () => currentUser.image.data && currentUser.image.name;
    a(href=currentUser.url)
      img(src=`data:${imageType()};base64,${imageData()}` alt=imageName()
        class="profileImgSmall")
  else
    a(href=currentUser.url)
      img(src=`/images/default_user.png` alt="user avatar" class="profileImgSmall")

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/modern-normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/icons/star.png', type='image/x-icon')
  body
    header(class="topHeader")
      nav
        ul
          li #[a(href="/") Home]
          li #[a(href="/users") Users]
        ul(class="right-ul")
          if (currentUser)
            li #[a(href="/message/create") Write message]
            if (!currentUser.membership)
              li #[a(href="/join-club") Join the Club]
            li
              form(action="/sign-out" method="POST")
                button(type="submit" class="btn-sign") Sign Out
            +getUserProfileImg

          else
            li #[a(href="/sign-up" class="btn-sign") Sign Up]
            li #[a(href="/sign-in" class="btn-sign") Sign In]
    main
      div(class="container")
        block content
    footer
      p Axel C. Lopez @Copyright 2022 
        a(href="https://github.com/lopezac")
          img(class="icon-small" src="/icons/github.png" alt="GitHub")