extends layout

block content
  block main
  block messages
    if messages.length
      h2 Messages
      section(class="messages")
        each msg in messages
          - const isMember = () => currentUser && currentUser.membership;
          - const isUserMsg = () => currentUser && msg.user._id.toString() == currentUser._id.toString();
          - const isAdmin = () => currentUser && currentUser.isAdmin;
          article(class="message")
            h3
              a(href=msg.url)= msg.title
            ul(class="msg-detail")
              if isUserMsg() || isMember() || isAdmin()
                li
                  a(href=msg.user.url) #{msg.user.fullName} @#{msg.user.username}
                li= msg.timestampFormat
              else
                li Private author
                li Private timestamp
            p= msg.text
    else
      h2 No messages yet