extends layouts/layout

block content
  -const isUserMsg = () => currentUser && msg.user._id.toString() == currentUser._id.toString();
  -const isMember = () => currentUser && currentUser.membership;
  -const isAdmin = () => currentUser && currentUser.isAdmin;
  article(class="message")
    h1
      a(href=msg.url)= msg.title
    ul(class="msg-detail")
      if isUserMsg() || isMember() || isAdmin()
        li
          a(href=msg.user.url) #{msg.user.fullName}
        li
          a(href=msg.user.url) @#{msg.user.username}
        li= msg.timestampFormat
      else
        li Private author
        li Private timestamp
    p= msg.text

    if isUserMsg() || isAdmin()
      div(class="buttons")
        p
          a(href=`${msg.url}/update` class="btn-delete") Update
        form(action=`${msg.url}/delete` method="POST")
          button(type="submit" class="btn-delete") Delete