extends layouts/layout

block content
  article
  - const isUserMsg = () => currentUser && msg.user._id.toString() == currentUser._id.toString();
  - const isMember = () => currentUser && currentUser.membership;
  - const isAdmin = () => currentUser && currentUser.isAdmin;
    h1
      a(href=msg.url)= msg.title
    if isUserMsg() || isMember() || isAdmin()
      p 
        a(href=msg.user.url) #{msg.user.fullName} @#{msg.user.username}
      p= msg.timestampFormat
    else
      p Private author
      p Private timestamp
    p= msg.text

  if isUserMsg() || isAdmin()
    p
      a(href=`${msg.url}/update`) Update
    form(action=`${msg.url}/delete` method="POST")
      button(type="submit") Delete
    