extends layouts/msgLayout

block main
  - const isUserProfile = () => currentUser && currentUser._id.toString() === user._id.toString();
  - const isMember = () => currentUser && currentUser.membership;
  - const isAdmin = () => currentUser && currentUser.isAdmin;

  if isMember() || isAdmin() || isUserProfile()
    h1 #[a(href=user.url)= user.fullName]
    p #[a(href=user.url) @#{user.username}]
    p Membership status: #[strong #{user.membership}]
  else
    h1 Unknown name
    p @unknown

  if isUserProfile() || isAdmin()
    p
      a(href=`${user.url}/update`) Update
    p
      a(href=`${user.url}/delete`) Delete